<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>FB-Infoterminal</title>
    <script src="/script.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/bouncer/dist/bouncer.polyfills.min.js"></script>
</head>
<body>
    <div class="wrapper" style='grid-template-areas: "header header""switch switch""detail detail";'>
        <header>
            <h1>Infoterminal FB Elektrotechnik & Informatik</h1>
        </header>

        <div class="switch">
            <button style="float: left;" id="fb-info">FB-Info</button>
            <button style="float: right;" id="hn-info">HN-Info</button>
        </div>


        <div >
            <form onsubmit='POST("/fbinfo");' data-validate class="detail">
                <h1>Eintrag bearbeiten</h1>
                <div>
                    <label>Titel</label>
                    <input id="title" type="text" required>
                </div> 
                <div>
                    <label>Erstellungsdatum</label>
                    <input id="datum" type="text">
                </div>      
                <div>
                    <label>Veröffentlichungsdatum</label>
                    <input id="datum" type="text">
                </div>   
                <div>
                    <label>Verarbeitungserkennung</label>
                    <select>
                        <option value="none">Keine</option>
                        <option value="published">veöffentlicht</option>
                        <option value="2bpublished">zu veröffentlichen</option>
                    </select>
                </div>   
                <div>
                    <label for="content">Inhalt</label>
                    <textarea id="content" rows="10"></textarea>
                </div>
                <button type="submit">Speichern</button>
            </form>
        </div>
</body>
</html>